APP_NAME="Multivendor Order Engine"
APP_ENV=testing
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=il
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=he_IL

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=4

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=multivendor_order_engine_testing
DB_USERNAME=
DB_PASSWORD=

SESSION_DRIVER=array
CACHE_STORE=array
BROADCAST_CONNECTION=null
FILESYSTEM_DISK=local
MAIL_MAILER=array

QUEUE_CONNECTION=database
